#loginBanner {
  width: 100%;
  height: 100px;
  background-color: #546E7A;
  margin-top: 0px;
}

#wireDeerHeader {
  width: 100px;
  height: 100px;
  float: left;
}

#loginHeaderText{
  font-family: 'Helvetica', sans-serif;
  font-size: 45px;
  color: #FFF;
  padding: 25px;
}

#wireDeerTest{
  width: 500px;
  height: 500px;
  padding: 28%;
}

#loginBox{
  width: 475px;
  height: 500px;
  background-color: #ECEFF1;
}

#wireDeerLogin {
  width: 200px;
  height: 200px;
  padding-left: 28%;
}

#loginUsername {
  width: 350px;
  height: 25px;
  background-color: #ECEFF1;
  border-style: none;
  border-bottom: solid 2px #90A4AE;
}

#loginUsername:focus {
  outline: none;
}

#loginUsernameWrapper {
  padding-left: 13%;
  margin-bottom: 30px;
}

#loginPassword {
    width: 350px;
    height: 25px;
    background-color: #ECEFF1;
    border-style: none;
    border-bottom: solid 2px #90A4AE;
}

#loginPassword:focus {
  outline: none;
}

#loginPasswordWrapper {
  padding-left: 13%;
  margin-bottom: 40px;
}

#loginButton {
  width: 350px;
  height: 35px;
  background-color: #90A4AE;
  border-style: none;
  color: #FFF;
  font-weight: bold;
}

#loginButtonWrapper {
  padding-left: 13%;
  margin-bottom: 18px;
}

#rememberMeWrapper {
  padding-left: 37%;
  margin-bottom: 15px;
}

#rememberMe{
  padding-top: 100%;
}

#forgotPassword {
  padding-left: 37%;
  margin-bottom: 15px;
}

#signUp {
  padding-left: 45%;
}

/*.rememberMeCheckBox {
  width: 200px;
  margin: 25px 175px;
  position: relative;
  text-align: right;
}

.rememberMeCheckBox label{
  cursor: pointer;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
  left: 0;
	background: #eee;
	border:1px solid #ddd;
}

.rememberMeCheckBox label:after {
  opacity: 0.2;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 6px;
	left: 7px;
	border: 3px solid #333;
	border-top: none;
	border-right: none;

	transform: rotate(-45deg);
}

.rememberMeCheckBox label:hover::after {
  opacity: 0.5;
}

.rememberMeCheckBox input[type=checkbox]:checked + label:after {
  opacity: 1;
}*/
